attrs==22.2.0
aws-cdk.assets==1.200.0
aws-cdk.aws-acmpca==1.200.0
aws-cdk.aws-apigateway==1.200.0
aws-cdk.aws-applicationautoscaling==1.200.0
aws-cdk.aws-autoscaling==1.200.0
aws-cdk.aws-autoscaling-common==1.200.0
aws-cdk.aws-autoscaling-hooktargets==1.200.0
aws-cdk.aws-batch==1.200.0
aws-cdk.aws-certificatemanager==1.200.0
aws-cdk.aws-cloudformation==1.200.0
aws-cdk.aws-cloudfront==1.200.0
aws-cdk.aws-cloudwatch==1.200.0
aws-cdk.aws-codebuild==1.200.0
aws-cdk.aws-codecommit==1.200.0
aws-cdk.aws-codeguruprofiler==1.200.0
aws-cdk.aws-codestarnotifications==1.200.0
aws-cdk.aws-cognito==1.200.0
aws-cdk.aws-dynamodb==1.200.0
aws-cdk.aws-ec2==1.200.0
aws-cdk.aws-ecr==1.200.0
aws-cdk.aws-ecr-assets==1.200.0
aws-cdk.aws-ecs==1.200.0
aws-cdk.aws-efs==1.200.0
aws-cdk.aws-elasticloadbalancing==1.200.0
aws-cdk.aws-elasticloadbalancingv2==1.200.0
aws-cdk.aws-events==1.200.0
aws-cdk.aws-fsx==1.200.0
aws-cdk.aws-globalaccelerator==1.200.0
aws-cdk.aws-iam==1.200.0
aws-cdk.aws-imagebuilder==1.200.0
aws-cdk.aws-kinesis==1.200.0
aws-cdk.aws-kms==1.200.0
aws-cdk.aws-lambda==1.200.0
aws-cdk.aws-logs==1.200.0
aws-cdk.aws-route53==1.200.0
aws-cdk.aws-route53-targets==1.200.0
aws-cdk.aws-s3==1.200.0
aws-cdk.aws-s3-assets==1.200.0
aws-cdk.aws-sam==1.200.0
aws-cdk.aws-secretsmanager==1.200.0
aws-cdk.aws-servicediscovery==1.200.0
aws-cdk.aws-signer==1.200.0
aws-cdk.aws-sns==1.200.0
aws-cdk.aws-sns-subscriptions==1.200.0
aws-cdk.aws-sqs==1.200.0
aws-cdk.aws-ssm==1.200.0
aws-cdk.aws-stepfunctions==1.200.0
aws-cdk.cloud-assembly-schema==1.200.0
aws-cdk.core==1.200.0
aws-cdk.custom-resources==1.200.0
aws-cdk.cx-api==1.200.0
aws-cdk.region-info==1.200.0
aws-parallelcluster==3.5.1
blinker==1.6.2
boto3==1.26.129
botocore==1.29.129
cattrs==22.2.0
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
clickclick==20.10.2
connexion==2.13.1
constructs==3.4.293
Flask==2.3.2
idna==3.4
importlib-resources==5.12.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
jsii==1.80.0
jsonschema==4.17.3
MarkupSafe==2.1.2
marshmallow==3.19.0
packaging==23.1
publication==0.0.3
pyrsistent==0.19.3
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.30.0
s3transfer==0.6.1
six==1.16.0
tabulate==0.8.10
typeguard==2.13.3
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.3.3
