HeadNode: 
  CustomActions: 
    OnNodeConfigured: 
      Args: 
        - "3.6.3"
        - "4.0.5"
        - "4.1.3"
        - "4.2.2"
      Script: "s3://S3_BUCKETNAME/install-rsw.sh"
  Iam: 
    S3Access: 
      - BucketName: S3_BUCKETNAME
  InstanceType: t2.medium
  Networking: 
    AdditionalSecurityGroups: 
      - SECURITYGROUP_RSW
    SubnetId: SUBNETID
  Ssh: 
    KeyName: KEY 
  LocalStorage:
    RootVolume:
      Size: 100 
Image: 
  Os: ubuntu2004
Region: REGION
Scheduling: 
  Scheduler: slurm
  SlurmQueues: 
    - Name: all 
      ComputeResources: 
        - Name: rstudio
          InstanceType: t2.xlarge
          MaxCount: 5
          MinCount: 1 
      CustomActions: 
        OnNodeConfigured: 
          Script: "s3://S3_BUCKETNAME/install-compute.sh" 
      Iam: 
        S3Access: 
          - BucketName: S3_BUCKETNAME
      Networking: 
        SubnetIds: 
          - SUBNETID
    - Name: mpi
      ComputeResources:
        - Name: efa
          InstanceType: c5n.18xlarge
          MaxCount: 5
          MinCount: 0
          Efa:
            Enabled: TRUE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds: 
          - SUBNETID
    - Name: gpu 
      ComputeResources:
        - Name: gpu 
          InstanceType: p3.8xlarge 
          MaxCount: 5
          MinCount: 0
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds: 
          - SUBNETID

DevSettings:
  Timeouts:
    HeadNodeBootstrapTimeout: 5400  # timeout in seconds
    ComputeNodeBootstrapTimeout: 5400  # timeout in seconds

Tags:
  - Key: rs:environment
    Value: development
  - Key: rs:owner
    Value: michael.mayer@rstudio.com
  - Key: rs:project
    Value: solutions 
