HeadNode: 
  CustomActions: 
    OnNodeConfigured: 
      Args: 
        - "4.0.5"
        - "4.1.3"
        - "4.2.3"
      Script: "s3://S3_BUCKETNAME/install-rsw.sh"
  Iam: 
    S3Access: 
      - BucketName: S3_BUCKETNAME
    AdditionalIamPolicies:
      - Policy: arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
  InstanceType: t2.xlarge
  Networking: 
    AdditionalSecurityGroups: 
      - SECURITYGROUP_RSW
    SubnetId: SUBNETID
  LocalStorage:
    RootVolume:
      Size: 100 
Image: 
  Os: ubuntu2004
Region: REGION
Scheduling: 
  Scheduler: slurm
  SlurmSettings:
     EnableMemoryBasedScheduling: true
  SlurmQueues: 
    - Name: all 
      ComputeResources:
        - Name: rstudio 
          InstanceType: t2.xlarge
          MaxCount: 10 
          MinCount: 1
          Efa:
            Enabled: FALSE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: FALSE
        SubnetIds:
          - SUBNETID

    - Name: gpu 
      ComputeResources:
        - Name: large
          InstanceType: p3.16xlarge
          MaxCount: 1
          MinCount: 0 
          Efa:
            Enabled: FALSE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds: 
          - SUBNETID

DevSettings:
  Timeouts:
    HeadNodeBootstrapTimeout: 5400  # timeout in seconds
    ComputeNodeBootstrapTimeout: 5400  # timeout in seconds

SharedStorage:
  - MountDir: /data
    Name: data
    StorageType: FsxLustre
    FsxLustreSettings:
      StorageCapacity: 1200
      DeploymentType: SCRATCH_2

Tags:
  - Key: rs:environment
    Value: development
  - Key: rs:owner
    Value:  
  - Key: rs:project
    Value: solutions 
