HeadNode: 
  CustomActions: 
    OnNodeConfigured: 
      Args: 
        - "4.0.5"
        - "4.1.3"
        - "4.2.3"
      Script: "s3://S3_BUCKETNAME/install-rsw.sh"
  Iam: 
    S3Access: 
      - BucketName: S3_BUCKETNAME
    AdditionalIamPolicies:
      - Policy: arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
  InstanceType: t2.medium
  Networking: 
    AdditionalSecurityGroups: 
      - SECURITYGROUP_RSW
    SubnetId: SUBNETID
  Ssh: 
    KeyName: KEY 
  LocalStorage:
    RootVolume:
      Size: 100 
Image: 
  Os: ubuntu2004
Region: REGION
Scheduling: 
  Scheduler: slurm
  SlurmSettings:
     EnableMemoryBasedScheduling: true
  SlurmQueues: 
    - Name: all 
      ComputeResources:
        - Name: rstudio 
          InstanceType: c5n.18xlarge
          MaxCount: 5
          MinCount: 1
          Efa:
            Enabled: TRUE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds:
          - SUBNETID

    - Name: gpu 
      ComputeResources:
        - Name: small
          InstanceType: p3.2xlarge
          MaxCount: 5
          MinCount: 1
          Efa:
            Enabled: FALSE
        - Name: medium
          InstanceType: p3.8xlarge
          MaxCount: 5
          MinCount: 0
          Efa:
            Enabled: FALSE
        - Name: large
          InstanceType: p3.16xlarge
          MaxCount: 5
          MinCount: 0
          Efa:
            Enabled: FALSE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds: 
          - SUBNETID

DevSettings:
  Timeouts:
    HeadNodeBootstrapTimeout: 5400  # timeout in seconds
    ComputeNodeBootstrapTimeout: 5400  # timeout in seconds

Tags:
  - Key: rs:environment
    Value: development
  - Key: rs:owner
    Value: michael.mayer@rstudio.com
  - Key: rs:project
    Value: solutions 
